.carrierSignUpForm_container  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: black;
    opacity: .9;
    border-radius: 2em;
    
   

}
.carrierSignUpForm_container  input{
    padding: .5em 5em;
    color: black;
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    border-radius: 2em;
    
    
    
    
    
}
.carrierSignUpForm_container h3{
    font-size: 3em;
    font-family: Abril fatface;
    color: white;
    text-shadow: 2px 2px 16px black;
    letter-spacing: 5px;
    border-bottom: 2px solid white;
   
   
   

}
.carrierSignUpForm_container button{
    padding: .5em 2em;
    color: white;
    letter-spacing: 5px;
    background-color: blue;
    box-shadow: 2px 2px 8px black;


}
.carrierSignUpForm_container button:hover{
    padding: .5em 2em;
    letter-spacing: 5px;
    background-color: blue;
    box-shadow: 2px 2px 10px white;
}

